@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --brand-color: #ffa617;
    --brand-secondary-color: #ff7700;
    --brand-third-color: #ffc300;
    --primary: #3b82f6;
    --primary-hover: #2563eb;
    --secondary: #6c757d;
    --success: #22c55e;
    --success-hover: #16a34a;
    --warning: #ffc542;
    --error: #fc5a5a;
    --error-hover: #f43f5e;
    --disable: #6c757d; /* (選項)停用 */
    --active: #f97316; /* (選項)作用中 */
    --background: #eaebee;
    --card-bg-color: white;
    --modal-bg-color: white;
    --image-bg-color: #ccc;
    --divider-color: #bbb;
    --hover-bg-color: #d5d7db;
    /* text style */
    --text-color: #171725;
    --secondary-text-color: #44444f;
    --disable-text-color: #92929d;
    /* input style */
    --input-bg-color: #c1c1c1;
    --input-text-color: #4A5568;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #213152;
    --card-bg-color: #4b5563;
    --modal-bg-color: #4b5563;
    --image-bg-color: #4b5563;
    --divider-color: #6b7280;
    --hover-bg-color: #374151;;
    /* text style */
    --text-color: #ffffff;
    --secondary-text-color: #b5b5be;
    --disable-text-color: #696974;
    /* input style */
    --input-bg-color: #e2e2ea;
    --input-text-color: #6c757d;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer components {
  .nav-link {
    @apply font-bold text-gray-700 hover:text-green-500 transition-colors duration-200;
  }
  
  .nav-link-active {
    @apply text-green-500;
  }
} 
